*,
body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
    background-color: aliceblue;
    margin: 0 auto;
    border-radius: 15px;
    overflow-x: hidden;
}

.product {
    position: relative;
    width: 190px;
    height: 250px;
    background-color: tomato;
    border-radius: 7px;
    margin: 20px;
    font-size: 15px;
    text-align: center;
}

.product-container {
    position: absolute;
    padding: 10px;
}